{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
  <div class="entry">
    {{ partial "entry/content" . }}
  </div>
{{ end }}


<div class="container">
  <ul class="authors">
    {{ range site.Data.authors }}
      <li class="author">
        <span class="name">{{ .name.display }}</span>
        <div class="social">
          {{ with .social }}
            {{ range $key, $value := . }}
              {{ $platform := index site.Data.social $key }}
              <a
                class="{{ $key }}"
                title="{{ $platform.name }}"
                href="{{ (print $platform.prefix $value) | relLangURL }}"
              >
                {{- partial "svg/icon" $key -}}
              </a>
            {{ end }}
          {{ end }}
        </div>
        <div class="description">
          {{ with .description }}
            {{ . }}
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>
</div>

{{ partial "footer" . }}
