<li class='item'>
  <div class="item-tag">
      <a href="{{ .Permalink | relURL }}">
        {{ $img := "/img/no-cover.jpg" }}

        {{ with .Params.cover.image }}
          {{ $img = . }}
        {{ else }}
          {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
          {{ $url := index ($urls) 0 }}
          {{ if $url }}
            {{ $url := (strings.TrimPrefix "<img src=\"" $url) -}}
            {{ $img = strings.TrimSuffix "\"" $url -}}
          {{ end }}
        {{ end }}

        <img class="item-tag-image" src="{{ $img }}" alt="Destination cover image">
    </a>

    <div class="item-tag-description">
      <header class='item-header'>
        <div>
          <h1 class='item-title'>
            <a href='{{ .Permalink | relURL }}'>
              {{- .Title -}}
            </a>
          </h1>
        </div>
        <p>
          {{- truncate 185 .Summary -}}
        </p>
        
      </header> 
    </div>
  </div>
</li>
